body{
background-color :#FFE6E6;
}

h1{
   color : black;
}
h2{
  color : black;
}

hr{
background-color: none;
border-style: none;
border-top-style:dotted;
border-color : grey;
border-width: 7px;
height: 2px;
width : 100px;
}
